$_black: #000;
$_white: #fff;
$_orange: #ffc900;
$_yellow: #ffe75c;
$_red: #bd4403;
$_blue: #005395;
$_blue-light: #499fff;

$_font-family: 'Comic Sans MS', sans-serif;
$_second-family: 'Bangers', sans-serif;
$_third-family: 'Inter', sans-serif;
$_font3: 'Albert Sans', sans-serif;
