<section id="about" class="about">
  <div class="container about-wrap-container">
    <div class="about-wrap">
      <div class="about-wrap-text">
        <h2 class="about-wrap-title">About Joy Storm Hero</h2>
        <img src="./img/about/about-boom.png" class="about-wrap-img" />
      </div>

      <div class="about-wrap-content">
        <div class="about-wrap-content-one">
          <div class="about-content">
            <img
              src="./img/about/about-one.png"
              alt="Wrapper image"
              class="about-content-img-desk"
            />
            <img
              src="./img/about/about-one-mob.png"
              alt="Wrapper image"
              class="about-content-img-mob"
            />
            <div class="wrap-content wrap-content--one">
              <p class="about-content-title">Our Mission</p>
              <p class="about-content-text">
                To inspire young people to develop strength, resilience, and
                confidence through the discipline of martial arts.
              </p>
            </div>
          </div>

          <div class="about-content">
            <img
              src="./img/about/about-twoo.png"
              alt="Wrapper image"
              class="about-content-img-desk"
            />
            <img
              src="./img/about/about-two-mob.png"
              alt="Wrapper image"
              class="about-content-img-mob"
            />
            <div class="wrap-content wrap-content--two">
              <p class="about-content-title">Core Values</p>
              <p class="about-content-text">
                Respect, self-control, perseverance, and leadership.
              </p>
            </div>
          </div>
        </div>

        <div class="about-wrap-content-two">
          <div class="about-content">
            <img
              src="./img/about/about-three.png"
              alt="Wrapper image"
              class="about-content-img-desk"
            />
            <img
              src="./img/about/about-three-mob.png"
              alt="Wrapper image"
              class="about-content-img-mob"
            />
            <div class="wrap-content wrap-content--three">
              <p class="about-content-title">The Joy Storm Hero Difference</p>
              <p class="about-content-text">
                Unlike traditional martial arts schools, our academy integrates
                a modern approach, blending structured training with an engaging
                and motivating atmosphere.
              </p>
            </div>
          </div>

          <div class="about-content">
            <img
              src="./img/about/about-four.png"
              alt="Wrapper image"
              class="about-content-img-desk"
            />
            <img
              src="./img/about/about-four-mob.png"
              alt="Wrapper image"
              class="about-content-img-mob"
            />
            <div class="wrap-content wrap-content--four">
              <p class="about-content-title">Student Development</p>
              <p class="about-content-text">
                Our training is designed to help students excel in focus,
                teamwork, and self-discipline while also improving physical
                fitness and agility.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
