<section id="join" class="join">
  <div class="container join-wrap-container">
    <div class="join-wrap">
      <div class="join-wrap-text">
        <h2 class="join-wrap-title">Join the Academy</h2>

        <div class="join-wrap-content">
          <p class="join-content-title">How to Get Started</p>
          <p class="join-content-text">
            Details on class schedules, trial sessions, and membership options.
          </p>

          <p class="join-content-title">Visit Our Academy</p>
          <p class="join-content-text">
            Information on location, training hours, and what to expect on the
            first visit.
          </p>

          <p class="join-content-title">Contact Us:</p>
          <p class="join-content-text-dop">
            Reach out via email or phone for inquiries about programs and
            enrollment.
          </p>
          <p class="join-content-text-dop">
            <a class="join-tel" href="tel:+905063074695">+905063074695</a>
          </p>
          <p class="join-content-text">
            <a class="join-mail" href="mailto:info@joystormhero.com"
              >info@joystormhero.com.</a
            >
          </p>
        </div>
      </div>

      <picture class="join-wrap-image-boom">
        <source
          srcset="./img/join/join-desk-1x.png"
          media="(min-width: 1440px)"
        />
        <source
          srcset="./img/join/join-mob-1x.png"
          media="(max-width: 1439px)"
        />
        <img src="./img/join/join-mob-1x.png" alt="Image superman" />
      </picture>
    </div>
  </div>
</section>
