<div id="modal" class="backdrop is-hidden" data-backdrop>
  <div class="modal">
    <nav class="modal-nav is-hidden" data-modal>
      <ul class="modal-nav-list">
        <li class="modal-nav-item">
          <a href="/" class="modal-nav-link">Home</a>
        </li>

        <li class="modal-nav-item">
          <a href="#about" class="modal-nav-link">About Joy Storm Hero</a>
        </li>

        <li class="modal-nav-item">
          <a href="#our" class="modal-nav-link">Our Programs</a>
        </li>

        <li class="modal-nav-item">
          <a href="#why" class="modal-nav-link">Why Choose Us?</a>
        </li>

        <li class="modal-nav-item">
          <a href="#testimonials" class="modal-nav-link">Testimonials</a>
        </li>

        <li class="modal-nav-item">
          <a href="#join" class="modal-nav-link">Join the Academy</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
