<section id="our" class="our">
  <div class="container our-wrap-container">
    <div class="our-wrap">
      <h2 class="our-wrap-title">Our Programs</h2>

      <div class="dop-wrap-context">
        <div class="our-content">
          <img
            src="./img/our/our-one-desk2.png"
            alt="Wrapper image"
            class="our-content-img-desk"
          />
          <img
            src="./img/our/our-one-mob2.png"
            alt="Wrapper image"
            class="our-content-img-mob"
          />
          <div class="our-wrap-content our-wrap-content--one">
            <p class="our-content-title">Super Kickers (Ages 5-7)</p>
            <p class="our-content-text">
              A playful yet structured introduction to martial arts, focusing on
              coordination, balance, and basic self-defense techniques. Kids
              learn through interactive games, simple drills, and positive
              reinforcement.
            </p>
          </div>
        </div>

        <div class="our-content">
          <img
            src="./img/our/our-two-desk2.png"
            alt="Wrapper image"
            class="our-content-img-desk"
          />
          <img
            src="./img/our/our-two-mob2.png"
            alt="Wrapper image"
            class="our-content-img-mob"
          />
          <div class="our-wrap-content our-wrap-content--two">
            <p class="our-content-title">Warrior Juniors (Ages 8-12)</p>
            <p class="our-content-text">
              A more structured program that builds fundamental martial arts
              techniques, discipline, and self-confidence. Students start
              practicing kata, controlled sparring, and flexibility training
            </p>
          </div>
        </div>

        <div class="our-content our-content-dop">
          <img
            src="./img/our/our-three-desk2.png"
            alt="Wrapper image"
            class="our-content-img-desk"
          />
          <img
            src="./img/our/our-three-mob2.png"
            alt="Wrapper image"
            class="our-content-img-mob"
          />
          <div class="our-wrap-content our-wrap-content--three">
            <p class="our-content-title">Teen Fighters (Ages 13-17)</p>
            <p class="our-content-text">
              A dynamic program designed to refine techniques, enhance strength,
              and develop tactical combat skills. This program incorporates
              advanced self-defense strategies, endurance training, and mental
              exercises.
            </p>
          </div>
        </div>
      </div>

      <div class="our-wrap-image">
        <picture class="our-wrap-image-cap">
          <source
            srcset="./img/our/our-captain-desk.png"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/our/our-captain-mob.png"
            media="(max-width: 1439px)"
          />
          <img src="./img/our/our-captain-mob.png" alt="Captain image" />
        </picture>

        <picture class="our-wrap-image-vrooom">
          <source
            srcset="./img/our/our-vrooom-desk.png"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/our/our-vrooom-mob.png"
            media="(max-width: 1439px)"
          />
          <img src="./img/our/our-vrooom-mob.png" alt="Vrooom image" />
        </picture>
      </div>
    </div>
  </div>
</section>
