<section id="testimonials" class="testimonials">
  <div class="container testimonials-wrap-container">
    <div class="testimonials-wrap">
      <div class="testimonials-wrap-text">
        <h2 class="testimonials-wrap-title">Testimonials</h2>

        <div class="testimonials-wrapper swiper reviewsSwiper">
          <div class="swiper-wrapper">
            <div class="testimonials-wrap-content swiper-slide">
              <div>
                <picture class="content-cloud">
                  <source
                    srcset="./img/test/test-cloud-desk.png"
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="./img/test/test-cloud-mob.png"
                    media="(max-width: 1439px)"
                  />
                  <img
                    src="./img/test/test-cloud-mob.png"
                    alt="Testimonials image cloud"
                  />
                </picture>
                <p class="content-text-one">
                  "My son has become more confident and disciplined thanks to
                  Joy Storm Hero! He used to be very shy, but now he’s learning
                  how to stand up for himself."
                </p>
              </div>
              <p class="content-text-name-one">Sarah K.</p>
            </div>

            <div class="testimonials-wrap-content swiper-slide">
              <div>
                <picture class="content-cloud">
                  <source
                    srcset="./img/test/test-cloud-desk.png"
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="./img/test/test-cloud-mob.png"
                    media="(max-width: 1439px)"
                  />
                  <img
                    src="./img/test/test-cloud-mob.png"
                    alt="Testimonials image cloud"
                  />
                </picture>
                <p class="content-text-two">
                  "The instructors are amazing! They know how to push students
                  to their limits while making sure they are always having fun."
                </p>
              </div>
              <p class="content-text-name-two">David M.</p>
            </div>

            <div class="testimonials-wrap-content swiper-slide">
              <div>
                <picture class="content-cloud">
                  <source
                    srcset="./img/test/test-cloud-desk.png"
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="./img/test/test-cloud-mob.png"
                    media="(max-width: 1439px)"
                  />
                  <img
                    src="./img/test/test-cloud-mob.png"
                    alt="Testimonials image cloud"
                  />
                </picture>
                <p class="content-text-three">
                  "Enrolling my daughter in this academy was the best decision
                  we made. She has developed great self-defense skills and a lot
                  more focus in school."
                </p>
              </div>
              <p class="content-text-name-three">Emily T.</p>
            </div>
          </div>
        </div>

        <div class="wrap-arrow">
          <img
            class="arrow-left"
            src="./img/test/test-left.png"
            alt="Image arrow left"
          />
          <img
            class="arrow-right"
            src="./img/test/test-right.png"
            alt="Image arrow right"
          />
        </div>
      </div>

      <picture class="testimonials-wrap-image-boom">
        <source
          srcset="./img/test/test-girl-desk.png"
          media="(min-width: 1440px)"
        />
        <source
          srcset="./img/test/test-girl-mob.png"
          media="(max-width: 1439px)"
        />
        <img src="./img/test/test-girl-mob.png" alt="Image woman wow" />
      </picture>
    </div>
  </div>
</section>
