<section id="why" class="why">
  <div class="container why-wrap-container">
    <div class="why-wrap">
      <div class="why-wrap-text">
        <h2 class="why-wrap-title">Why Choose Us?</h2>
        <picture class="why-wrap-image-wow">
          <source srcset="./img/why/why-desk.png" media="(min-width: 1440px)" />
          <source srcset="./img/why/why-mob.png" media="(max-width: 1439px)" />
          <img src="./img/why/why-mob.png" alt="Why choose us image" />
        </picture>
      </div>

      <div class="why-wrap-content">
        <div class="why-container-one">
          <div class="why-container">
            <picture class="why-wrap-image-wow">
              <source
                srcset="./img/why/why-cloud-desk1.png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/why/why-cloud-mob1.png"
                media="(max-width: 1439px)"
              />
              <img
                src="./img/why/why-cloud-mob1.png"
                alt="Why choose us image cloud"
              />
            </picture>
            <div class="why-wrap-content-text-one">
              <p class="why-wrap-content-text-title">Expert Instructors</p>
              <p class="why-wrap-content-text-deskription">
                Our team consists of highly trained professionals with years of
                experience in martial arts and youth training.
              </p>
            </div>
          </div>

          <div class="why-container">
            <picture class="why-wrap-image-wow">
              <source
                srcset="./img/why/why-cloud-desk2.png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/why/why-cloud-mob2.png"
                media="(max-width: 1439px)"
              />
              <img
                src="./img/why/why-cloud-mob2.png"
                alt="Why choose us image cloud"
              />
            </picture>
            <div class="why-wrap-content-text-two">
              <p class="why-wrap-content-text-title">
                Safe and Supportive Environment
              </p>
              <p class="why-wrap-content-text-deskription">
                We prioritize safety and inclusivity, ensuring that every
                student feels comfortable and motivated to learn.
              </p>
            </div>
          </div>
        </div>

        <div class="why-container-two">
          <div class="why-container">
            <picture class="why-wrap-image-wow">
              <source
                srcset="./img/why/why-cloud-desk3.png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/why/why-cloud-mob2.png"
                media="(max-width: 1439px)"
              />
              <img
                src="./img/why/why-cloud-mob2.png"
                alt="Why choose us image cloud"
              />
            </picture>
            <div class="why-wrap-content-text-three">
              <p class="why-wrap-content-text-title">
                Progressive Learning Structure
              </p>
              <p class="why-wrap-content-text-deskription">
                Each program is tailored to match the developmental needs of
                different age groups, making learning both effective and
                enjoyable.
              </p>
            </div>
          </div>

          <div class="why-container">
            <picture class="why-wrap-image-wow">
              <source
                srcset="./img/why/why-cloud-desk4.png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/why/why-cloud-mob1.png"
                media="(max-width: 1439px)"
              />
              <img
                src="./img/why/why-cloud-mob1.png"
                alt="Why choose us image cloud"
              />
            </picture>
            <div class="why-wrap-content-text-four">
              <p class="why-wrap-content-text-title">Heroic Mindset</p>
              <p class="why-wrap-content-text-deskription">
                We instill the mindset of perseverance, discipline, and
                integrity, shaping students to be real-life heroes in their
                communities.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
